@font-face {
  font-family: 'Inter';
  src: url(./vendor/fonts/Inter-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(./vendor/fonts/Inter-SemiBold.ttf);
  font-weight: 700;
}

.page {
  margin: 0;
  background-color: rgb(209, 209, 209);
}